.about {
    min-height: 500px; // background: url(images/backgroundabout.svg);
    background: $p-bg;
    background-image: $s-bg;
    color: $s-text;
    background-size: cover;
}

.about-row {}

.image-container {
    height: auto;
    flex: 1 0 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.about-pic {
    height: 100%;
    border-radius: 100%;
    border: 1px solid $p-accent;
    
}

@supports (-webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%)) or (clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%)) {
    .about-pic {
        -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
        clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
        border-radius: 0%;
        border: none;
    }
}

.info-container {
    height: auto;
    flex: 1 0 100%;
}

.about-info {
    margin-bottom: 1rem;
    text-align: center;
}


/*----------  timeline  ----------*/

.timeline-row {
    flex-direction: column;
}

.timeline-label {
    flex: 1 1 100%;
    text-align: center;
}

.timeline-slider {
    flex: 1 1 100%;
}

.timeline-card {
    display: none;
    flex: 1 1 100%;
    // border: 1px solid black;
    box-shadow:0 1px 4px rgba(241, 241, 241, 0.3), 0 0 40px rgba(255, 255, 255, 0.1);
    margin: 0.75rem 0;
}

.timeline-card-current {
    display: block;
}

.timeline-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    @include mQ($tablet) {
        flex-direction: row;
        justify-content: space-around;
        align-content: baseline;
    }
}

.timeline-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.75rem 0;
    @include mQ($tablet) {
        margin-left: 1rem;
    }
}

.timeline-img {
    width: 7.5em;
    height: 7.5em;
    @include mQ($tablet) {
        width: 8.5rem;
        height: 8.5rem;
    }
    img {
        max-width: 100%;
        border-radius: 50%;
        height: 100%;
        border: 1px solid $p-accent;
    }
}

.timeline-info {
    text-align: center;
    font-size: 0.9rem;
    padding: 0 0.75rem;
    @include mQ($tablet) {
        text-align: left;
    } //        @include mQ($laptop){
    //     font-size: 1.1rem;
    // }
    //    @include mQ($lg-laptop){
    //     font-size: 1.3rem;
    // }
}


/*=============================================
=            input range            =
=============================================*/

input[type=range] {
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background:$p-accent;
    //  #2497E3;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid $p-accent;
    height: 18px;
    width: 18px;
    border-radius: 25px;
    background: lighten($p-accent, 40%);
    //  #A1D0FF;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: $p-accent;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000;
    background: $p-accent;
    border-radius: 1px;
    border: 0px solid #000000;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 1px solid $p-accent;
    height: 18px;
    width: 18px;
    border-radius: 25px;
     background: lighten($p-accent, 40%);
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background:  $p-accent;
    border-radius: 2px;

}

input[type=range]::-ms-fill-upper {
    background:  $p-accent;
    border-radius: 2px;

}

input[type=range]::-ms-thumb {
    border: 1px solid $p-accent;
    height: 18px;
    width: 18px;
    border-radius: 25px;
     background: lighten($p-accent, 40%);
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
        background:  $p-accent;
}

input[type=range]:focus::-ms-fill-upper {
        background:  $p-accent;
}


/*=====  End of input range  ======*/