@import url('https://fonts.googleapis.com/css?family=Oswald|Quattrocento');

html{
    font-size: calc(100% + .35vw);
}

body{
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.7;
    z-index: 0;
    
}

.wrapper{
    z-index: 0;
}

.section{
    width: 100%;
    height: 100%;
}

.container{
    margin: 0 auto;
    width: 1200px;
    max-width: 85%;
    height: auto;
    position: relative;
}

.row{
    display: flex;
    padding-top: 0.8rem;
    justify-content: center;
    flex-wrap: wrap;
}

h1,h2,h3,h4,h5,button{
    font-family: 'Oswald', sans-serif;
}

p,a,span,label,input{
    font-family: 'Quattrocento', serif;

}

h1{
    align-self: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    position: relative;
    

    &:before{
        content: '';
        position: absolute;
        width: 60px;
        height: 2px;
        background-color: #EE2B45;
        left: 50%;
        margin-left: -30px;
        bottom: 0;
    }
}

h2{
    align-self: center;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    position: relative;
    background: white;

        &:before{
        content: '';
        position: absolute;
        width: 60px;
        height: 2px;
        background-color: #EE2B45;
        left: 50%;
        margin-left: -30px;
        bottom: 0;
    }
}

h3{
    align-self: center;
    text-transform: capitalize;
    font-size: 1.3rem;
    text-align: center;
}

h4{
    align-self: center;
    text-transform: capitalize;
    font-size: .9rem;
    text-align: center;
    font-style: italic;
    font-weight: 400;
}

.button{
    position: relative;
    outline: none;
    cursor: pointer;
    padding: .3rem 2rem;
    display: inline-block;
    background-color: transparent;
    border: none;
    font-size: inherit;
    margin: 0 auto;
    text-transform: uppercase;
    overflow: hidden;
        transition: all 0.3s;
        z-index: 0;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        

    &:after{
        content: '';
    position: absolute;
    z-index: -1;
        width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
     opacity: 0;
         transition: all 0.3s;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }

    &:hover{
        color:white;

        &:after{
            background-color: red;
            height: 260%;
            opacity: 1;
        }

        }
}


.btn-line{
    background-color: red;
    position: absolute;
    z-index: 1;
}

.btn-line--top{
        top: 0%;
    right: 0;
    left: 0;
    height: 2px;
}

.btn-line--btm{
        bottom: 0%;
    right: 0;
    left: 0;
    height: 2px;
}

.btn-line--left{
    top: 0%;
    left: 0;
    width: 2px;
    height: 50%;
}

.btn-line--right{
    bottom: 0%;
    right: 0;
    width: 2px;
    height: 50%;
}

.arrow-block{
    position: relative;
    bottom: 2px;
    margin: 0 auto;
    margin-bottom: 1.2rem;
    margin-top: 1.2rem;

    span{
        display: block;
        text-align: center;
        margin: 0 auto;
        font-style: italic;
        font-size: 1rem;
    }

    .arrow{
        position: absolute;
    bottom: -2.4rem;
    left: 50%;
    background-color: red;
    width: 2px;
    height: 40px;
    z-index: 3;

    &:after{
        position: absolute;
        content: "";
        width: 12px;
        height: 12px;
        border-bottom: 2px solid red;
        border-left: 2px solid red;
        bottom: 0;
        left: -5px;
        transform: rotate(-45deg);
    }
    }
}
