.contact{
    position: relative;
    padding-bottom: 1rem;
    z-index: 2;
    background: $p-bg;
    color: $p-text;
}

.contact-box{
    z-index: -1;
    height: 90%;
    width: 100%;
    border: 4px solid black;
    top:2.4rem;
    position: absolute;
    margin: 0 auto;
    right: 0;
    left:0;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
    
    @include mQ($laptop){
        width: 75%;
    }

}

.contact-title{
    background: $p-bg;
}

.contact-intro{
    text-align: center;
        padding: 0 2%;

}

.form-row{
    flex-direction: column;
    justify-content: space-between;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    fieldset{
        border: none;
        margin: 0 auto;
        

        input{
            outline: none;
            padding: 0.7rem 1rem;
            border: 2px solid #e9e9e9;
            border-radius: 20px;
            

        }

        textarea{
            padding: 10px 10px;
            margin: 0 auto;
            border: 2px solid #e9e9e9;
            border-radius: 20px;
            max-width: 100%;
            outline: none;
            resize: none;
        }
    }
}

.form-label{
    display: block;
    text-align: center;
    font-size: 0.9rem;
    opacity: 0;
    transition: 0.3s ease-in-out all;
}

.form-label--show{
    opacity: 1;
    transition: 0.3s ease-in-out all;
}

.form-button{
    background: $p-bg;;
    
}

