.content{
    z-index: 1;
    background: white;

}
.footer{
    background-color: black;
    color:white;
    width:100%;
        position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: -2;
}

.footer-row{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-logo{
    margin-left: 0;
    margin-bottom: .5rem;
}

.icon-row{
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    svg{
        fill:white;
        height: 1.5rem;
        width: 1.5rem;
        transition: 0.3s all;
    }

    .linkedin{
        &:hover{
            fill:#0077B5;
        }
    }

        .github{
        &:hover{
            fill:#582879;
        }
    }
            .twitter{
        &:hover{
            fill:#1DA1F2;
        }
    }
}