.header {
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 7%;
}

.header-logo {
    color: white;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 5%;
    z-index: 9999;
    .line {
        align-self: flex-start;
        height: 2px;
        width: 100%;
        background: white;
    }
}

.hamburger {
    .top-line {
        width: 100%;
        transition: animation 100ms ease-in-out
    }
    .mid-line {
        width: 75%;
        transition: animation 200ms ease-in-out
    }
    .bot-line {
        width: 50%;
        transition: animation 400ms ease-in-out
    } // hover
    &:hover {
        .top-line {
            animation: burger-jiggle 1s infinite ease-in-out alternate forwards 100ms;
        }
        .mid-line {
            animation: burger-jiggle 1s infinite ease-in-out alternate forwards 200ms;
        }
        .bot-line {
            animation: burger-jiggle 1s infinite ease-in-out alternate forwards 400ms;
        }
    }
}

.cross {
    position: fixed;
    right: 0;
    .top-line {
        transform: rotate(45deg);
        position: absolute;
        transition: transform 100ms ease-in-out;
    }
    .mid-line {
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }
    .bot-line {
        transform: rotate(-45deg);
        position: absolute;
        width: 100%;
        transition: transform 400ms ease-in-out;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.77);
    z-index: 5;
    opacity: 0;
    display: none;
}

.overlay--show {
    display: block;
    opacity: 1;
}

.nav {
    height: 75%;
    width: inherit;
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
}

.nav-item {
    display: flex;
    justify-content: center;
    a {
        display: block;
    }
}

.nav-button {
    background-color: transparent;
    color: red;
}

.nav-info {
    color: white;
    height: 25%;
}

.nav-row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}