.portfolio{
    // background-color: gray;
}

.toolbar{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    
    
}

.filter{
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin: .4rem .5rem;
    cursor: pointer;
}

.filter-button{
    min-width: 100px;
     
}

.filter-active .filter-button{
    color:white;
    &:after{
                    background-color: red;
            height: 200px;
            opacity: 1;
    }
}

.portfolio-row{
    justify-content: center;
    min-height: 150px;

}

.portfolio-item{
    flex:1 0 auto;
    max-width: 100%;
    margin: 1rem 1rem;
}

.portfolio-wrapper{
    overflow: hidden;
    position: relative;
    cursor: pointer;
    max-width: 100%;
    height: 100%;
}

.portfolio-img{
    max-width: 100%;
    height: auto;
    border: 2px solid goldenrod;
}

.portfolio-label{

}