.project-header {
    background-image: $s-bg;
    position: relative;
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 50vh;
}

.jumbotron-background {
    filter: blur(5px);
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}

.jumbotron-background--editor {
    background: none;
    @include mQ($laptop) {
        background: url(images/editor.png);
        background-size: cover;
    }
}

.jumbotron-background--ctv {
    background: none;
    @include mQ($laptop) {
        background: url(images/ctv.png);
        background-size: cover;
    }
}

.jumbotron-background--taxcalc {
    background: none;
    @include mQ($laptop) {
        background: url(images/taxcalc.png);
        background-size: cover;
    }
}

.jumbotron-background--weather {
    background: none;
    @include mQ($laptop) {
        background: url(images/weather.png);
        background-size: cover;
    }
}

.jumbotron-background--enf {
    background: none;
    @include mQ($laptop) {
        background: url(images/ENF.png);
        background-size: cover;
    }
}

.jumbotron-img {
    position: absolute;
    z-index: 2;
    max-width: 100%;
    max-height: 100%;
    margin-top: 1rem;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include mQ($laptop) {
        padding-left: 5rem;
    }
}

.back-link {
    position: absolute;
    right: .5rem;
    margin-top: 1rem;
    z-index: 3;
}

.back-button--white {
    @include mQ($laptop) {
        color: white;
    }
}

.project-info {
    padding-top: 0;
}

.project-title {
    font-size: 2rem;
}

.back-button {}

.live-link {}

.live-button {}

.project-box {
    background-color: rgba(128, 128, 128, 0.16);
    width: 100%;
    min-height: 10rem;
    position: relative;
    padding: 1rem;
    p {
        text-align: center;
    }
}

.project-quote-left {
    position: absolute;
    top: -1rem;
    left: -1rem;
    font-size: 2rem;
}

.project-quote-right {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    font-size: 2rem;
}

.info-block {
    // flex:1 1 48%;
    flex: 1 1 100%;
    padding: 1rem;
    h3 {
        text-align: left;
        position: relative;
        margin-bottom: .5rem;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 30%;
            height: 2px;
            background-color: $p-accent;
        }
    }
    p {}
}

.info-block-stack {
    span {
        background-color: $p-accent;
        color: white;
        padding: 0.2rem;
        text-transform: uppercase;
    }
}

.info-block-design {}

.info-block-dev {
    margin-top: 1rem; // margin-left:1rem;
}

.next-link {
    margin-bottom: 1rem;
}

.next-button {}