$tablet : 768px;
$laptop:1024px;
$lg-laptop: 1400px;

$p-bg: white;
$s-bg: linear-gradient(-20deg, rgba(43, 88, 118, 0.9) 0%, rgba(78, 67, 118, 0.9) 100%);




$p-text:black;
$s-text:white;

$p-accent:goldenrod;

// #EE2B45;
$s-accent: goldenrod;
